
PHP/deplister.exe
PHP/dev/php8.lib
PHP/ext/php_bz2.dll
PHP/ext/php_com_dotnet.dll
PHP/ext/php_curl.dll
PHP/ext/php_dba.dll
PHP/ext/php_dl_test.dll
PHP/ext/php_enchant.dll
PHP/ext/php_exif.dll
PHP/ext/php_ffi.dll
PHP/ext/php_fileinfo.dll
PHP/ext/php_ftp.dll
PHP/ext/php_gd.dll
PHP/ext/php_gettext.dll
PHP/ext/php_gmp.dll
PHP/ext/php_imap.dll
PHP/ext/php_intl.dll
PHP/ext/php_ldap.dll
PHP/ext/php_mbstring.dll
PHP/ext/php_mysqli.dll
PHP/ext/php_oci8_19.dll
PHP/ext/php_odbc.dll
PHP/ext/php_opcache.dll
PHP/ext/php_openssl.dll
PHP/ext/php_pdo_firebird.dll
PHP/ext/php_pdo_mysql.dll
PHP/ext/php_pdo_oci.dll
PHP/ext/php_pdo_odbc.dll
PHP/ext/php_pdo_pgsql.dll
PHP/ext/php_pdo_sqlite.dll
PHP/ext/php_pgsql.dll
PHP/ext/php_shmop.dll
PHP/ext/php_snmp.dll
PHP/ext/php_soap.dll
PHP/ext/php_sockets.dll
PHP/ext/php_sodium.dll
PHP/ext/php_sqlite3.dll
PHP/ext/php_sysvshm.dll
PHP/ext/php_tidy.dll
PHP/ext/php_xsl.dll
PHP/ext/php_zend_test.dll
PHP/ext/php_zip.dll
PHP/extras/ssl/legacy.dll
PHP/extras/ssl/openssl.cnf
PHP/glib-2.dll
PHP/gmodule-2.dll
PHP/icudt72.dll
PHP/icuin72.dll
PHP/icuio72.dll
PHP/icuuc72.dll
PHP/lib/enchant/libenchant2_hunspell.dll
PHP/libcrypto-3-x64.dll
PHP/libenchant2.dll
PHP/libpq.dll
PHP/libsasl.dll
PHP/libsodium.dll
PHP/libsqlite3.dll
PHP/libssh2.dll
PHP/libssl-3-x64.dll
PHP/license.txt
PHP/news.txt
PHP/nghttp2.dll
PHP/phar.phar.bat
PHP/pharcommand.phar
PHP/php-8.3.11-nts-Win32-vs16-x64.zip
PHP/php-cgi.exe
PHP/php-win.exe
PHP/php.exe
PHP/php.ini
PHP/php.ini-development
PHP/php.ini-production
PHP/php8.dll
PHP/php8embed.lib
PHP/php8phpdbg.dll
PHP/phpdbg.exe
PHP/readme-redist-bins.txt
PHP/README.md
PHP/snapshot.txt
